.pop-up {
  border: 1px solid $near-white;
  border-radius: 6px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2), 0px 0px 2px rgba(0,0,0,0.38);
  z-index: 500;
  background-color: #ffffff;
  height:300px;
  width:300px;
  font-size: 14px;
  position: absolute;
  right: 0;

}

#pop-up-header {
  color: $light-gray;
  border-bottom:1px solid #eeeeee;
  box-sizing: border-box;
  font-weight: 300;
  height: 50px;
  width:300px;
  padding-left: 20px;
  padding-top:14px;
  font-size: 20px;
  background-color: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}


.collection-form-list {
  box-sizing: border-box;

  overflow-y: auto;
  height:210px;

  li {
    height:40px;
    line-height: 20px;
    padding-top:16px;
    padding-left: 20px;
    color: $gray;

    i{
      margin-right: 10px;
    }
  }

  li:hover {
    background-color: #eeeeee;
    cursor: pointer;
  }

  .selected_collection, .selected_collection:hover {
    background-color: $green;
    color: white;

    span {
      margin-left: 10px;
    }
  }
}


  .pop-up-bottom-form {
    text-align: center;
    color: $green;
    border-top: 1px solid #eeeeee;
    box-sizing: border-box;
    height:40px;
    width:300px;
    position: absolute;
    bottom:0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    input[type=text]{
      display:inline-block;
      box-sizing: border-box;
      padding-left:10px;
      width: 220px;
      height: 40px;
      font-size: 14px;
      border-bottom-left-radius: 4px;
      border: 1px solid $green;
    }

    input[type=submit]{
      display:inline-block;
      box-sizing: border-box;
      width: 80px;
      height: 40px;
      font-size: 14px;
      border-bottom-right-radius: 4px;
      border: 1px solid $green;
      color:white;
      background-color: $green;
    }

    input[type=submit]:hover{
      color:$green;
      background-color: #eeeeee;
    }

  }
