.add-content {
  // justify-content: center;
  align-content:  stretch;
  flex-basis: 100%;
  display:flex;
  flex-direction: column;
  flex: 1 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;

  form {
    display: flex;
    flex-direction: row;
  }
  .alert {
    color: red;
  }

  input[type=text]{
    display:inline-block;
    margin:0 auto;
    width:75%;
    height: 48px;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid $green;
  }

  input:focus {
    border-color: $green;
     box-shadow: 0 0 10px $green;
    outline: none !important;
  }

  input[type=submit]{
    display:inline-block;
    width: 25%;
    height: 66px;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid $green;
    color:white;
    background-color: $green;
  }
  input[type=submit]:hover{
    color:$green;
    background-color: #eeeeee;
  }

  h2 {
    font-weight: 300;
    font-size: 30px;
    margin-bottom:24px;
    margin-top: 24px;
    color: $light-gray;
  }

  h3 {
    font-size: 18px;
    color: $gray;
  }
  a:link{
    color: $orange;
  }
  a:visited{
    color: $orange;
  }
  a:hover{
    color: $light-gray;
  }
  strong { font-weight: 400;}
  em { font-style: italic;}
}
