
.full-article {
  display: flex;
  flex-direction: column;
  border: 1px solid $near_white;
  padding: 20px;

h2.articleTitle {
    margin-top:0px;
  }

  h2:hover {
    color: $light-gray;
  }
  .article-button {
    font-size: 20px;
    color: $blackish;
    text-align: right;
    float:right;
  }
  .article-button:hover {
    color: $light-gray;
  }

  i.close-button {
    font-size:24px;
    margin-top: -5px;
  }

  .article-content {
    color:$gray;
    font-size: 16px;

    img:first-child {
      width:94%;
      margin: 20px;

    }
  }

}

.hidden {
  display: none;
}


.feedflare {
  display:none;
}
