.feeds {

  .favicon {
    width: 16px;
    margin-right: 10px;
  }

  h2.sectionTitle {
    font-weight: 600;
    font-size: 30px;
    margin-bottom:20px;
    margin-top: 24px;
    color: $black;
  }


  .feedDisplay {
    margin-bottom: 40px;
    h2 {
      font-weight: 600;
      font-size: 24px;
      margin-bottom:20px;
      margin-top: 24px;
      color: $black;
    }

    .feedTitle {
      font-weight: 600;
      font-size: 30px;
      margin-bottom:60px;
      margin-top: 24px;
      color: $black;
    }

    .subscribe-button {
      float:right;
      border: 1px solid $green;
      border-radius: 4px;
      background: #ffffff;
      color: $green;
      font-size: 12px;
      height:40px;
      text-transform: uppercase;
      padding: 10px 17px 10px 17px;
      margin-top: 12px;

    }
    .subscribe-button:hover {
      color: #ffffff;
      border-color: transparent;
      background-color: $green;
    }


    .articlePreviewImage {
      width: 130px;
      border-radius: 4px;
      margin-right: 20px;
      max-height: 100px;
      float:left;
    }


    .description {
      margin-bottom:50px;
    }

    h3 {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 12px;
    }

    h3 a, h2 a {
      color:$blackish;
      text-decoration: none;
    }

    h3 a:hover, h2 a:hover {
      color: $light-gray;
    }

    p {
      margin-top:8px;
    }

    i {
      margin-left:10px;
      font-size:16px;
    }


    article {
      clear: both;
      max-width: 700px;
      margin-bottom:80px;
      font-size: 14px;
      line-height: 1.4;
      font-weight: 300;
      color: $light-gray;

      .date {
        font-style: italic;
        font-size: 12px;
        font-weight:300;
        color: $light-gray;


      }

      h3 {
        font-size:16px;
        color:$gray;
        margin-bottom: 8px;
      }

      .preview {
        display: flex;
        flex-direction: row;

        img {
          width: 130px;
          border-radius: 4px;
          margin-right: 20px;
          max-height: 100px;
        }

      }

      a:link, a:visited {
        text-decoration: none;
        cursor: pointer;
      }

    }




  }

}
