.login-form-container {
  height:100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  justify-content: flex-start;
  background-color: $blackish;
}

.login-form-box {
  display:flex;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  align-items: center;
  padding:24px;
  margin: auto;
  flex-direction:column;
  height: 540px;
  width: 360px;
  background-color:#ffffff;
  border: 1px solid $gray;
  border-radius: 14px;

  form {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    input {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 300px;
      height:50px;
      border: 1px solid $light-gray;
      background-color: $near-white;
      font-size: 17px;
      padding: 8px;
    }
    input:focus{
      border-color: $green;
       box-shadow: 0 0 10px $green;
      outline: none !important;
    }
    button:focus{
      border-color: $green;
       box-shadow: 0 0 10px $green;
      outline: none !important;
    }

    button {
      background-color: $green;
      width: 300px;
      height:50px;
      font-size: 17px;
      border-radius: 8px;
      color: white;
      text-transform: uppercase;
      margin-top: 24px;
      border:none;
    }

    button:hover {
      background-color: $dark-green;
    }

    .demoSubmit {
      background-color: $light-gray;
      margin-top:8px;
      margin-bottom:4px;
    }

    .demoSubmit:hover {
      background-color: $gray;
    }

    h2 {
      font-weight:600;
      font-size: 22px;
    }

    .errors {
      color: $orange;
      margin-top: 10px;
      height:18px;
    }
  }
  .switch {
    text-align:center;
    margin-top:20px;
  }

  a {
    color: $light-gray;
  }

  a:hover {
    color: $gray;
  }

  h2 span {
    text-transform: capitalize;
    text-align: center;
  }

  img {
    margin-bottom: 20px;
    text-align:center;
  }
}
