.login-form-container {
  height:100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid #333333;
}

.login-form-box {
  display:flex;
  height: 400px;
  width: 400px;
  border: 1px solid $blackish;
}
